.new-task-container{
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other content */
  
 
}
.new-task {
 
  height: auto; /* Let the height be determined by content */
  width: 65%;
  max-width: 500px; /* Limit maximum width for better display on larger screens */
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #378CE7;
  
}
.new-task p{
  font-size:1.2rem;
  font-weight:300;
}
.new-task input{
  height:35px;
  width:100%;
  border:1px solid #378CE7;
  border-radius:5px;
  font-size:1rem;
  font-weight:300;
  padding:20px;
 
  
}
.new-task textarea {
  height:100px;
  width:100%;
  border:1px solid #378CE7;
  border-radius:5px;
  font-size:1rem;
  font-weight:300;
  padding:20px;
}
.priority {
  display: flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
  
}
.priority select{
  height:30px;
  width:200px;
  border:1px solid #378CE7;
  border-radius:5px;
  font-size:0.85rem;
  font-weight:300;
  cursor:pointer;
  background:transparent;
}
.priority select:focus{
  outline:none;
}
.priority select option {
  font-size:0.85rem;
  font-weight:500;
 
  
}
select option:hover{
  background:#378CE7;
  color:#fff;
  padding:10px;
  
}
.priority p{
  font-size:1.25rem;
  font-weight:500;
}
.new-task button{
  position:absolute;
  bottom:20px;
  right:20px;
  height:40px;
  width:100px;
}
.close-btn{
  position:absolute;
  top:10px;
  right:10px;
  height:10px;
  width:10px;
  border:none;
  border-radius:5px;
  background:orangered;
  color:#fff;
  font-size:1.2rem;
  font-weight:300;
  box-shadow:0px 0px 5px #378CE7;
  transition:all 0.3s ease-out;
  transition-behavior:smooth;
  cursor:pointer;
  padding:2px;
  text-align:center;

}
.close-btn:hover{
  background:darkred;
  color:#fff;
  transform:translateY(-5px);
  
}
.close-btn:active{
  transform:translateY(3px);
}
.title {
  margin-top:30px;
}
.close-icon{
  height:30px;
  width:30px;
}